*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.front-page{
    margin: 0px;
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url(images/desert.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.menu{
    display: flex;
    text-align: center;
    margin-left: 115px;
}
.menu li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
    padding: 15px;
}
.button{
    border: 5px;
    padding: 8px;
    text-align: right;
    border-radius: 20px;
    display: flex;
    font-size: 20px;
    margin: 15px;
    margin-left: 750px;
    margin-bottom: 100px;
}
.adventure{
    border: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-left: 100px;
}
.date{
    color: white;
}
.p1{
    padding-top: 15px;
    color: white;
    font-size: 30px;
    margin-bottom: 1px;
    
}
.p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: inline-block;
    margin-left: 35px;
    color: white;
}
.article{
    display: flex;
    gap: 1100px;
    margin-left: 100px;
}
.br{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}
.categories{
    display: flex;
    padding: 10px 100px;
}
.travel{
    background-image: url(images/OIP.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    height: 50vh;
    width: 33%;
}
.arrow{
    margin-right: 15px;
    justify-content: right;
}
.travel h2{
    font-size: 30px;
    margin-left: 100px;
    color: white;
    padding-top: 200px;
}
.travel pre{
    padding-top: 3px;
    color: white;
}
.travel .arrow{
    justify-content: right;
    margin-left: 500px;
    margin-top: 5px;
}
.adventure1{
    background-image: url(images/sands.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    height: 50vh;
    width: 33%;
    margin-left: 100px;
}
.arrow{
    margin-right: 15px;
    justify-content: right;
}
.adventure1 h2{
    font-size: 30px;
    margin-left: 100px;
    color: white;
    padding-top: 200px;
}
.adventure1 pre{
    padding-top: 3px;
    color: white;
}
.adventure1 .arrow{
    justify-content: right;
    margin-left: 500px;
    margin-top: 5px;
}
.gear{
    background-image: url(images/opi.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    height: 50vh;
    width: 33%;
    margin-left: 100px;
}
.arrow{
    margin-right: 15px;
    justify-content: right;
}
.gear h2{
    font-size: 30px;
    margin-left: 100px;
    color: white;
    padding-top: 200px;
}
.gear pre{
    padding-top: 3px;
    color: white;
}
.gear .arrow{
    justify-content: right;
    margin-left: 500px;
    margin-top: 5px;
}
.infosection{
    display: flex;
    padding: 10px 100px;
}
.pn1{
    padding-left: 100px;
}
.info{
    border: 1px solid rgb(248, 243, 243);
    padding: 10px;
    margin: 30px;
}
.newsletter{
    background-color: black;
    color: white;
    display: flex;
    height: 400px;
    width: 100%;
}
.pnews{
    font-size: 20px;
    padding: 90px 90px;
}
.pnews1{
    padding: 10px;
}
.pnews2{
    padding: 10px;
}
.subscribe-box{
    position: relative;
    display: inline-block;
    width: 300px;
}
.subscribe-box input{
    width: 100%;
    padding: 10px 100px 10px 10px;
    box-sizing: border-box;
    border-radius: 20px;
}
.subscribe-box button{
    position: absolute;
    right: 5px;
    height: 20px;
    margin: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.newsletter, img{
    top: -100px;
}
.plast{
    border: 5px solid grey;
    color: white;
    background-color: rgb(207, 204, 204);
    border-radius: 20px;
    width: 15%;
    margin-left: 20%;
    padding-left: 15px;
}
.last-image{
    background-image: url(images/images\ \(15\).jfif);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    height: 50vh;
    width: 50%;
    margin-left: 100px;
}
.plast-pre{
    color: white;
    font-size: 30px;
    text-align: left;
}
.last-section{
    margin-top: 50px;
}
.button10{
    border: 5px;
    padding: 8px;
    text-align: right;
    border-radius: 20px;
    display: flex;
    font-size: 20px;
    margin: 15px;
    margin-left: 750px;
    margin-bottom: 100px;
    padding-left: 20px;
}
.footer{
    display: flex;
}
.h4-last{
    font-weight: 700px;
    font-size: 20px;
    padding-bottom: 15px;
}
h5{
    font-weight: 700px;
    font-size: 20px;
}
.plast100{
    font-size: 12px;
    color: #aaa;
    border-radius: 15px;
}
.bio-page{
    background-color: rgb(252, 251, 251);
    width: 350px;
    padding: 20px;
    margin-left: 50px;
}
.avatar{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
}
.avatar img{
    width: 100%;
    object-fit: cover;
}
.last-icons{
    padding: 20px;
}